<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    tr {
        border: 2px black solid;
    }
</style>
<body>
    
    <form method="post">
        {% csrf_token %}
        
        <hr>
    <br>
    Due Date:{{end_date}}
    <br>
        <h3>Choose Subjects:</h3>
        <ul>
          <!-- {{subjects|join:","}}

            -->              {% for subject in subjects %}
                <li>
                    <input type="checkbox" name="selected_subjects" >
                    {{subject}}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
    
    
</body>
</html>
